<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, minimum-scale=1.0">
    <title>One For All</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="/css/navbar.css" type="text/css">
    <link rel="stylesheet" href="/css/blogs.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <span class="navbar-brand navbar-logo">One for All</span>
        <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left"></div>
                    <div class="right"></div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="/board"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos"><i class="fa fa-photo-video"></i>Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stories"><i class="far fa-newspaper"></i>Stories</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/movie"><i class="fas fa-film"></i>Releases</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/songs"><i class="fas fa-guitar"></i>Songs</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blogs"><i class="fas fa-blog"></i>Blogs</a>
                </li>
            </ul>
        </div>
    </nav>

    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.jshttps://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/js/navbar.js"></script>

    <!--  -->
    <!--  -->
    <div id="container">
        <a href="/createPost" style="text-decoration: none;">
            <button class="learn-more">
                <span class="circle" aria-hidden="false">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Create Article</span>
            </button>
        </a></div>
    <!--  -->
    <!--  -->
    <div class="blogcard">
        <%articles.forEach(blog => {%>
        <figure class="snip1347">
            <img src="<%=blog.imgurl%>" alt="contextual image" />
            <div class="date"><%=blog.dating%></div>
            <figcaption>
                <h2><%=blog.title%></h2>
                <p><%=blog.description%></p><a href="<%=blog.postUrl%>" class="read-more">Read Full</a>
            </figcaption>
        </figure>
        <%});%>
    </div>
</body>

</html>